

<% if user_signed_in? %>
	
	<%= render 'shared/feed' %>
	
		
	</div>

	<% else %>
	<div class="bg">
	</div>
		  <div class="center jumbotron">
		    <h1>Welcome to the Curate</h1>

		    <h2>
		      A place you can feel free to express yourself. Club life is life!
		    </h2>
		    
		     <li><%= link_to "Register", new_user_registration_path, class: "btn btn-lg btn-primary" %></li>
		    
		  </div>


  
<% end %>



