	<div class="col-md-3 col-sm-12 stylish-panel">
			<div class="null">
				<span id="profile_name">
					<p><%= @user.name %></p>
				</span>

				<!-- if the current user has facebook connected use that photo else use uploaded one -->
				<%= render 'users/avatar_medium' %>



				<section class="stats">
					<%= render 'shared/stats' %>
			    </section>
		    </div>
	    
	    <div class="follow_btn">
		<%= render 'users/follow_form' if user_signed_in? %>
		</div>
	</div>