<!-- Start Left Side Profile -->
<div class="row ">


	<%= render 'users/profile_ui' %>


		<!--   for post count -->
	<div class=" col-md-9 col-sm-12 profile_posts">
		<% if @user.posts.any? %>
			
				<%= render @posts %>
			
		<% end %>
	</div>
</div>


