<% @posts.each do |post| %>
	<div class="post_wrapper">
		<p class="name"><%= post.user.name %></p>
		<p class="media"><%= post.body_html %></p>
		<p class="date"><%= post.created_at.strftime("%B %d, %Y") %></p>
	</div>
<% end %>

<%= link_to "Add new post", new_post_path(@post) %>