@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 40px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom:30px;
  font-weight: 200;
  background-color: #f8f8f8 ;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

a{
  color:#1E90FF;
  font-weight: 200;
}

h1 {
  font-size: 3em;
  letter-spacing: 0px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #1E90FF;
  text-transform: uppercase;
  letter-spacing: 0px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #1E90D7;
  text-decoration: none;
}

.navbar-fixed-top{
  top: 0;
  border-width: 0 0 1px;
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
  background-color: #fff;
}

.underline:hover {
    display: inline-block;
    box-shadow: 0 2px #1E90FF;
    
}

/*Main Posts*/

.wrapper {
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
}


/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.btn-primary {
color: #fff;
background-color: #1E90FF;
border-color: #fff;
}



.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}